<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RabbitMQ" type="RabbitMQManager.RabbitMQConfiguration,RabbitMQManager" requirePermission="false" />
  </configSections>
  <RabbitMQ Host="rabbitmq://{IP}/" Username="{安装MQ配置的用户名}"  Password="{安装MQ配置的密码}" >
  </RabbitMQ>
</configuration>
