.vs
/packages/**
*.dll
*.nupkg
*.XML
*.pdb
*.p7s
*.srcsrv
*.ps1
*.xsd
*.pri
*.cache
/RabbitMQServer/obj/**
/RabbitMQServer/bin/**
/RabbitMQMessageDefinition/obj/**
/RabbitMQManager/obj/**
/RabbitMQManager/bin/**
/RabbitMQClient/obj/**
/RabbitMQClient/bin/**
